.chart-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
  align-items: center;
  justify-content: center;
width: 40%;
height: 40%;
margin-left: 200px;
margin-right: 100px;

    position: relative;
    padding: 10px 10px 15px 20px;
    align-items: center;
    justify-content: space-between;
    
}

.category{
  color: red;
  border: 5px solid black;
  align-items: center;
  display:block;
  align-content: center;

  width: 400px;
  position: center;

  margin-left: 550px;
  justify-content: center;

}
.chart-content{
    display :flex;
    flex-direction: row;
    margin-left: 250px;
    margin-right: 180px;
    justify-content: space-between;
    color: blue;

}


.Performance{
  padding: 20px;
  width: 100%;
  height:100%;
  color: cornflowerblue;
}

.foot{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}
/* Add this code to your existing CSS */

/* Main container */
/*.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* 100% of the viewport width */
   /*height: 100vh;
  /* 100% of the viewport height */


  /* Add this code to your existing CSS */


  