.chart-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  align-items: center;
  justify-content: center;
width: 40%;
height: 30%;
margin-left: 422px;
    position: relative;
    justify-content: space-between;
}

.Performance{
  width: 100%;
  height:100%;
}

.foot{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}