.homediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
  


}

.homediv::before{
    background: url("https://wallpaperaccess.com/full/1196474.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    opacity: 0.7;
}