.welcome{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

        background-color: hsla(205, 86%, 47%, 0.7);
   
    }
    .left{
        /* display: block; */
        display: flex;
    height: 300px;
    width:700px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url('./IMG/success.png');
    background-repeat: no-repeat;
    }
    
    .right{
        /* display: inline; */
        display: flex;
        height: 500px;
        flex-direction: column;
        width:600px;
        position: relative;
        align-items: center;
        justify-content: center;
        background-image: url('./IMG/right.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }