.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {
    flex: 1;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    background-image: url('https://img.freepik.com/premium-photo/paper-with-pen_34810-546.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    flex: 1;
    /* Use flex property to control the width of left and right containers */
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;

    align-items: center;
    padding-left: 150px;
    background-image: url('https://images.unsplash.com/photo-1421091242698-34f6ad7fc088?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1vdGl2YXRpb25hbHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    /* Ensure the background image covers the container */
    background-position: center center;
    border: 1px solid black;


}

.left h2 {
    /* Separate styles for the heading */
    margin: 0;
    /* Remove default margin */
    padding: 10px;
    /* Add padding for spacing */
    font-size: 24px;
    /* Adjust the font size as needed */
}

.right button {
    background-color: rgb(72, 154, 57);
    /* Set the initial background color to red */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Add a transition for button hover effect */

    &:hover {
        background-color: #FF5733;
        /* Change to a different color on hover */
    }

}

.left button {
    background-color: rgb(72, 154, 57);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Add a transition for button hover effect */

    &:hover {
        background-color: #FF5733;
        /* Change to a different color on hover */
    }
}