.student-list-page {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .student-list {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .student-list th,
  .student-list td {
    border: 1px solid black;
    padding: 5px;
  }
  
  .student-list th {
    background-color: #ccc;
    text-align: center;
  }
  